In [1]:
import requests
import csv 
from collections import Counter
from pandas import *

In [56]:
listoffiles=[]
listoffilmnames=[]
        
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False 
    
def csvgetter(user,password,*otherusernames):
    #first create a session 's'
    s=requests.session()
    #this is the data that is sent to login to icheckmovies
    login_data={'login[username]': user,'login[password]': password,'submit': 'login',}
    #here we send the login data, using the session created before
    s.post("https://www.icheckmovies.com/login/", data=login_data) 
    #once again, whithin the session we get the csv link and call it 'r'
    usernames_list=list(otherusernames)
    usernames_list.append(user)
    for item in usernames_list:
        url='https://www.icheckmovies.com/movies/checked/?user='+item+'&export'
        r=s.get(url)
        checklist=r.text
        checklist_encode = checklist.encode('utf-8')
        filename=item+'_checklist'+'.csv'
        file=open(filename, "w")
        file.write(checklist_encode)
        file.close() 
        listoffiles.append(filename)
    numberofusers=str((len(listoffiles)))
    print('There are '+numberofusers+' users in the database: '+'\n'+'\n'.join(listoffiles))
    
def listmaker(username):
    filmlist=[]
    toplist=[]
    mostchecked=[]
    csvname=username+"_checklist.csv"
    csv_reader = csv.reader(open(csvname, "rb"), delimiter=';')
    for row in csv_reader:
        filmlist.append(row[0])
        mostcheckednum=row[3]
        if is_number(mostcheckednum) is True:
            mostcheckednum=int(row[3])
        mostchecked.append(mostcheckednum)
        toplistnum=row[5]
        if is_number(toplistnum) is True:
            toplistnum=int(row[5])
        toplist.append(toplistnum)        
    filmlist.pop(0)
    mostchecked.pop(0)
    toplist.pop(0)
    compiled_dataframe={'title' : filmlist,
            'most_checked': mostchecked,
            'top_lists': toplist}
    userlist=DataFrame(compiled_dataframe)
    return(userlist)

def multiname(*usernames):
    for name in usernames:
        listmaker(name)
        listoffilmnames.append(filmlist)
        print(name)

In [57]:
username1='Haessar'
username2='hermesmovies'
username3='James88'
password=''

In [58]:
csvgetter(username1,password,username2,username3)

There are 3 users in the database:
hermesmovies_checklist.csv
James88_checklist.csv
Haessar_checklist.csv

In [59]:
user1_list=listmaker(username1)
user2_list=listmaker(username2)
user3_list=listmaker(username3)
print("user1 is "+username1+", user2 is "+username2+" and user3 is "+username3+", user#_list is a dataframe of each users list")

user1 is Haessar, user2 is hermesmovies and user3 is James88, user#_list is a dataframe of each users list

Want to make a list that both james and will have seen that I haven't seen

In [60]:
#join User 1 and User 2
combo_1_2=user1_list.append(user2_list)
#return duplicates
seenby_1_2=combo_1_2[combo_1_2.duplicated('title')==True]

#join User 1 and User 3
combo_1_3=user1_list.append(user3_list)
seenby_1_3=combo_1_3[combo_1_3.duplicated('title')==True]

#join User 2 and User 3
combo_2_3=user2_list.append(user3_list)
seenby_2_3=combo_2_3[combo_2_3.duplicated('title')==True]

In [61]:
def process_club_list(user_list,others):

    df1=others
    df2=user_list

    new = df1.merge(df2,on=['title','most_checked'],how='left')
    DF = new[new.top_lists_y.isnull()]
    del DF['top_lists_y']
    DF.columns = ['most_checked', 'title', 'top_lists']
    
    return(DF)

In [62]:
#Club list for User 1:
club1_list = process_club_list(user1_list,seenby_2_3) 

#Club list for User 2:
club2_list = process_club_list(user2_list,seenby_1_3)

#Club list for User 3:
club3_list = process_club_list(user3_list,seenby_1_2)

In [63]:
club1_list.sort('top_lists',ascending=False)

     most_checked                           title  top_lists
15          56297                            LÃÂ©on         18
17          31591                        Magnolia         16
297         54865               Full Metal Jacket         15
16          50501                        Rain Man         14
148         50463                  Twelve Monkeys         14
145         30080                         RoboCop         12
224         23145                         Gravity         11
210         49412                    Pretty Woman          7
152          9140                        Election          5
166          9283                      Antichrist          5
8            5921                      Big Hero 6          5
220         21530          The Cabin in the Woods          3
179         31204                 You've Got Mail          2
116          2583                     Koroshiya 1          2
160         44538  How the Grinch Stole Christmas          2
156         46927               The Mummy Returns          2
184         20043                  A Few Good Men          2
151         51826             Night at the Museum          2
270         52765                      Zombieland          2
130         49472                Meet the Fockers          2
128         33545         Mission: Impossible III          2
124         48629                  Ocean's Twelve          2
120         29059                            Bean          2
85          11663                           Sicko          2
87           2416                    The Babadook          1
137          3995                         RoboCop          1
201         34433                            Thor          1
173         39249                Ocean's Thirteen          1
44           2273                Mickey Blue Eyes          1
157         35762               Miss Congeniality          1
119         29619                  Wild Wild West          1
49           7675           The Hangover Part III          1
2           22843                  The Karate Kid          1
122         35115         Lara Croft: Tomb Raider          1
121         33093               The Mask of Zorro          1
52          13230           Babe: Pig in the City          1
129         20617                Sex and the City          1
62          10174         The Talented Mr. Ripley          1
73          17578                  Iron Man Three          1
21             42         Piled Higher and Deeper          0
30           6335                         Don Jon          0
33           8418                     Coyote Ugly          0
37          10119                         Saw III          0
51           4351                       Wimbledon          0
38           2687                          Frozen          0
43           7997          Not Another Teen Movie          0
50           6844           Paranormal Activity 2          0
45           7858              Jackass Number Two          0
47           5438           40 Days and 40 Nights          0
48           3479        The Manchurian Candidate          0

In [53]:
#this is working on a function that will do everything
def superfunction(usr1,pssword,*usrs):
    username1=usr1
    username2=usrs[0]
    username3=usrs[1]
    password=pssword
    csvgetter(username1,password,username2,username3)
    multiname(username1,username2,username3)