In [1]:
import requests
import csv 
from collections import Counter
from pandas import *

In [2]:
listoffiles=[]
listoffilmnames=[]
        
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False 
    
def csvgetter(user,password,*otherusernames):
    #first create a session 's'
    s=requests.session()
    #this is the data that is sent to login to icheckmovies
    login_data={'login[username]': user,'login[password]': password,'submit': 'login',}
    #here we send the login data, using the session created before
    s.post("https://www.icheckmovies.com/login/", data=login_data) 
    #once again, whithin the session we get the csv link and call it 'r'
    usernames_list=list(otherusernames)
    usernames_list.append(user)
    for item in usernames_list:
        url='https://www.icheckmovies.com/movies/checked/?user='+item+'&export'
        r=s.get(url)
        checklist=r.text
        checklist_encode = checklist.encode('utf-8')
        filename=item+'_checklist'+'.csv'
        file=open(filename, "w")
        file.write(checklist_encode)
        file.close() 
        listoffiles.append(filename)
    numberofusers=str((len(listoffiles)))
    print('There are '+numberofusers+' users in the database: '+'\n'+'\n'.join(listoffiles))
    
def listmaker(username):
    filmlist=[]
    toplist=[]
    mostchecked=[]
    csvname=username+"_checklist.csv"
    csv_reader = csv.reader(open(csvname, "rb"), delimiter=';')
    for row in csv_reader:
        filmlist.append(row[0])
        mostcheckednum=row[3]
        if is_number(mostcheckednum) is True:
            mostcheckednum=int(row[3])
        mostchecked.append(mostcheckednum)
        toplistnum=row[5]
        if is_number(toplistnum) is True:
            toplistnum=int(row[5])
        toplist.append(toplistnum)        
    filmlist.pop(0)
    mostchecked.pop(0)
    toplist.pop(0)
    compiled_dataframe={'title' : filmlist,
            'most_checked': mostchecked,
            'top_lists': toplist}
    userlist=DataFrame(compiled_dataframe)
    return(userlist)

def multiname(*usernames):
    for name in usernames:
        listmaker(name)
        listoffilmnames.append(filmlist)
        print(name)

def process_club_list(user_list,others):
    merge_frames = others.merge(user_list,on=['title','most_checked'],how='left')
    not_same_titles = merge_frames[merge_frames.top_lists_y.isnull()]
    del not_same_titles['top_lists_y']
    not_same_titles.columns = ['most_checked', 'title', 'top_lists']
    return(not_same_titles)

#this is working on a function that will do everything
def Listmaker_pro(usr1,pssword,*usrs):
    username1=usr1
    username2=usrs[0]
    username3=usrs[1]
    password=pssword
    csvgetter(username1,password,username2,username3)
    user1_list=listmaker(username1)
    user2_list=listmaker(username2)
    user3_list=listmaker(username3)
    combo_1_2=user1_list.append(user2_list)
    seenby_1_2=combo_1_2[combo_1_2.duplicated('title')==True]
    combo_1_3=user1_list.append(user3_list)
    seenby_1_3=combo_1_3[combo_1_3.duplicated('title')==True]
    combo_2_3=user2_list.append(user3_list)
    seenby_2_3=combo_2_3[combo_2_3.duplicated('title')==True] 
    club1_list = process_club_list(user1_list,seenby_2_3) 
    club2_list = process_club_list(user2_list,seenby_1_3)
    club3_list = process_club_list(user3_list,seenby_1_2)

In [3]:
username1='hermesmovies'
username2='Haessar'
username3='James88'
password=''

In [4]:
csvgetter(username1,password,username2,username3)

There are 3 users in the database:
Haessar_checklist.csv
James88_checklist.csv
hermesmovies_checklist.csv

In [5]:
user1_list=listmaker(username1)
user2_list=listmaker(username2)
user3_list=listmaker(username3)
print("user1 is "+username1+", user2 is "+username2+" and user3 is "+username3+", user#_list is a dataframe of each users list")

user1 is hermesmovies, user2 is Haessar and user3 is James88, user#_list is a dataframe of each users list

Want to make a list that both james and will have seen that I haven't seen

In [6]:
#join User 1 and User 2
combo_1_2=user1_list.append(user2_list)
#return duplicates
seenby_1_2=combo_1_2[combo_1_2.duplicated('title')==True]

#join User 1 and User 3
combo_1_3=user1_list.append(user3_list)
seenby_1_3=combo_1_3[combo_1_3.duplicated('title')==True]

#join User 2 and User 3
combo_2_3=user2_list.append(user3_list)
seenby_2_3=combo_2_3[combo_2_3.duplicated('title')==True]

In [17]:
#Club list for User 1:
club1_list = process_club_list(user1_list,seenby_2_3) 

#Club list for User 2:
club2_list = process_club_list(user2_list,seenby_1_3)

#Club list for User 3:
club3_list = process_club_list(user3_list,seenby_1_2)

    most_checked                                            title  \
0          10351                                   The Wicker Man
1          10351                                   The Wicker Man
2          56833                                           Psycho
3          56833                                           Psycho
4          24771                                 Dawn of the Dead
5          52869                              Alice in Wonderland
6          93928                                               Up
7          20367                                          Traffic
8          57854                           The Godfather: Part II
9          94244                                  The Incredibles
10         17279              The Hobbit: The Desolation of Smaug
11         31511                                       Annie Hall
12         38152                                          Amadeus
13         96188                                   Monsters, Inc.
14         50438                    Sen to Chihiro no kamikakushi
15        112882                                     Forrest Gump
16         73283                                 The Wizard of Oz
17         21699                                    Boogie Nights
18         61076                               The Little Mermaid
19          2007                                    Inherent Vice
20         33297                              The Nutty Professor
21         51538                                            Fargo
22         22027                                       The Artist
23          1381                                      Still Alice
24         28824                                       Collateral
25          3204                                        Bowfinger
26         79154            Eternal Sunshine of the Spotless Mind
27          4444                                      La pianiste
28          4879                                The Secret Garden
29          5730                      The Texas Chainsaw Massacre
30         42215                                         Twilight
31         73147                                     Spider-Man 2
32         12783                                           Primer
33         11769                                    Adventureland
34          1377                             Deux jours, une nuit
35         72800                                          Shrek 2
36          5075                         The Theory of Everything
37          2870                                       Foxcatcher
38          2307                                       Open Water
39          5362                                     House of Wax
40          4352            I Still Know What You Did Last Summer
41         16178                                         The Mist
42          2687                                           Frozen
43          1961                                            Selma
44          6562                                   22 Jump Street
45          6454                                     Nightcrawler
46          9413  Birdman or (The Unexpected Virtue of Ignorance)
47          6097                                        Evolution
48          3461                                    Arachnophobia
49          3607                             D2: The Mighty Ducks
50          4405                                      Logan's Run
51         12961                                    Super Size Me
52         16975                                 Devil's Advocate
53         60918                                 A Beautiful Mind
54          6431                                       Straw Dogs
55          3665                                  American Sniper
56         35854                                     The Graduate
57         31937                                   Romeo + Juliet
58         15841                                 12 Years a Slave
59          8072                                         Whiplash
             ...                                              ...

    top_lists_x  top_lists_y
0            12          NaN
1            12          NaN
2            31           31
3            31           31
4            15           15
5             2            2
6            14           14
7             6          NaN
8            28           28
9            10           10
10            4            4
11           29           29
12           21           21
13           12           12
14           30           30
15           24           24
16           31           31
17            7            7
18            4            4
19            2            2
20            2            2
21           25           25
22            9            9
23            0            0
24            3          NaN
25            0          NaN
26           21           21
27            5          NaN
28            0          NaN
29            0          NaN
30            1          NaN
31            7            7
32            5            5
33            1            1
34            2            2
35            4            4
36            1            1
37            1            1
38            0          NaN
39            0          NaN
40            0          NaN
41            1          NaN
42            0          NaN
43            2            2
44            1            1
45            3            3
46            6            6
47            0            0
48            0          NaN
49            0          NaN
50            3          NaN
51            0            0
52            1            1
53           11           11
54            8            8
55            2            2
56           25           25
57            4            4
58           12          NaN
59            9            9
            ...          ...

[403 rows x 4 columns]
    most_checked                                            title  \
0           6654                                  The Italian Job
1           6654                                  The Italian Job
2          24771                                 Dawn of the Dead
3          22843                                   The Karate Kid
4          32039                               Planet of the Apes
5          32039                               Planet of the Apes
6          52869                              Alice in Wonderland
7          93928                                               Up
8          57854                           The Godfather: Part II
9          94244                                  The Incredibles
10          5921                                       Big Hero 6
11         17279              The Hobbit: The Desolation of Smaug
12         31511                                       Annie Hall
13         38152                                          Amadeus
14         96188                                   Monsters, Inc.
15         50438                    Sen to Chihiro no kamikakushi
16        112882                                     Forrest Gump
17         56298                                             Léon
18         50502                                         Rain Man
19         31591                                         Magnolia
20         73283                                 The Wizard of Oz
21         21699                                    Boogie Nights
22         61076                               The Little Mermaid
23            42                          Piled Higher and Deeper
24          2007                                    Inherent Vice
25         33297                              The Nutty Professor
26         51538                                            Fargo
27         22027                                       The Artist
28          1381                                      Still Alice
29         79154            Eternal Sunshine of the Spotless Mind
30         73147                                     Spider-Man 2
31         12783                                           Primer
32          6335                                          Don Jon
33         11769                                    Adventureland
34          1377                             Deux jours, une nuit
35          8418                                      Coyote Ugly
36         72800                                          Shrek 2
37          5075                         The Theory of Everything
38          2870                                       Foxcatcher
39         10119                                          Saw III
40          2687                                           Frozen
41          1961                                            Selma
42          6562                                   22 Jump Street
43          6454                                     Nightcrawler
44          9413  Birdman or (The Unexpected Virtue of Ignorance)
45          7997                           Not Another Teen Movie
46          2273                                 Mickey Blue Eyes
47          7858                               Jackass Number Two
48          6097                                        Evolution
49          5438                            40 Days and 40 Nights
50          3479                         The Manchurian Candidate
51          7675                            The Hangover Part III
52          6844                            Paranormal Activity 2
53          4351                                        Wimbledon
54         13230                            Babe: Pig in the City
55         12961                                    Super Size Me
56         16975                                 Devil's Advocate
57         60918                                 A Beautiful Mind
58          6431                                       Straw Dogs
59          3665                                  American Sniper
             ...                                              ...

    top_lists_x  top_lists_y
0             3            3
1             3            3
2            15           15
3             1          NaN
4             1            1
5             1            1
6             2            2
7            14           14
8            28           28
9            10           10
10            5          NaN
11            4            4
12           29           29
13           21           21
14           12           12
15           30           30
16           24           24
17           18          NaN
18           14          NaN
19           16          NaN
20           31           31
21            7            7
22            4            4
23            0          NaN
24            2            2
25            2            2
26           25           25
27            9            9
28            0            0
29           21           21
30            7            7
31            5            5
32            0          NaN
33            1            1
34            2            2
35            0          NaN
36            4            4
37            1            1
38            1            1
39            0          NaN
40            0          NaN
41            2            2
42            1            1
43            3            3
44            6            6
45            0          NaN
46            1          NaN
47            0          NaN
48            0            0
49            0          NaN
50            0          NaN
51            1          NaN
52            0          NaN
53            0          NaN
54            1          NaN
55            0            0
56            1            1
57           11           11
58            8            8
59            2            2
            ...          ...

[360 rows x 4 columns]
    most_checked                                            title  \
0           6654                                  The Italian Job
1           6654                                  The Italian Job
2          24771                                 Dawn of the Dead
3          24771                                 Dawn of the Dead
4          22843                                   The Karate Kid
5          32039                               Planet of the Apes
6          32039                               Planet of the Apes
7          52869                              Alice in Wonderland
8          52869                              Alice in Wonderland
9          36195                                          Platoon
10         57450                                 Mr. & Mrs. Smith
11         57304                                            Rocky
12          6562                                   22 Jump Street
13         59018     Star Wars: Episode III - Revenge of the Sith
14         35854                                     The Graduate
15         28369                                 Some Like It Hot
16         72005                                Kill Bill: Vol. 2
17          9363                                           Presto
18         61708                  One Flew Over the Cuckoo's Nest
19          9761                                     Mean Streets
20          3665                                  American Sniper
21          2007                                    Inherent Vice
22          2870                                       Foxcatcher
23          1377                             Deux jours, une nuit
24          5075                         The Theory of Everything
25          7123                                     The Warriors
26          9003                                          Boyhood
27          6454                                     Nightcrawler
28          7644                               The Imitation Game
29          1381                                      Still Alice
30          8072                                         Whiplash
31          1752                                    The Borrowers
32          2579                                           Psycho
33          3779                                       Ghost Town
34          5121                                        Secretary
35         10930                                       Date Night
36         16975                                 Devil's Advocate
37          9413  Birdman or (The Unexpected Virtue of Ignorance)
38          1961                                            Selma
39         16482                         The Grand Budapest Hotel
40          1175                                   The Guilt Trip
41          6097                                        Evolution
42          8496                                    Cool Runnings
43          4485                                   Run Fatboy Run
44          4531                                          Catfish
45         12783                                           Primer
46         12150                                        Gone Girl
47         11029                                  Midnight Cowboy
48          2989                                        Blackfish
49         12386                                     Interstellar
50         12464                     Fast Times at Ridgemont High
51          7447                                          Control
52         17279              The Hobbit: The Desolation of Smaug
53         37499                                      Stand by Me
54         11750                                   The Lego Movie
55         16720                                              Her
56          6961                   Dawn of the Planet of the Apes
57          5037                                            Zelig
58          4323                                        Bad Taste
59         35793                                             Heat
             ...                                              ...

    top_lists_x  top_lists_y
0             3            3
1             3            3
2            15          NaN
3            15          NaN
4             1          NaN
5             1            1
6             1            1
7             2          NaN
8             2          NaN
9            17           17
10            2            2
11           19           19
12            1            1
13            4            4
14           25           25
15           27           27
16            8            8
17            1          NaN
18           31           31
19           17          NaN
20            2            2
21            2            2
22            1            1
23            2            2
24            1            1
25            4          NaN
26           10           10
27            3            3
28            8            8
29            0            0
30            9            9
31            0          NaN
32            0            0
33            0          NaN
34            1            1
35            0          NaN
36            1            1
37            6            6
38            2            2
39            7            7
40            0          NaN
41            0            0
42            0          NaN
43            0          NaN
44            0            0
45            5            5
46            7            7
47           18          NaN
48            1            1
49            9            9
50            5          NaN
51            2          NaN
52            4            4
53            7          NaN
54            5          NaN
55            7            7
56            1            1
57            6            6
58            3            3
59           16           16
            ...          ...

[536 rows x 4 columns]

In [15]:
club2_list.sort(['top_lists','most_checked'],ascending=False)

     most_checked                           title  top_lists
17          56298                            Léon         18
19          31591                        Magnolia         16
297         54866               Full Metal Jacket         15
18          50502                        Rain Man         14
148         50463                  Twelve Monkeys         14
145         30080                         RoboCop         12
224         23145                         Gravity         11
210         49412                    Pretty Woman          7
166          9283                      Antichrist          5
152          9140                        Election          5
10           5921                      Big Hero 6          5
220         21531          The Cabin in the Woods          3
270         52766                      Zombieland          2
151         51826             Night at the Museum          2
130         49472                Meet the Fockers          2
125         48629                  Ocean's Twelve          2
156         46927               The Mummy Returns          2
160         44538  How the Grinch Stole Christmas          2
128         33545         Mission: Impossible III          2
179         31204                 You've Got Mail          2
121         29059                            Bean          2
184         20043                  A Few Good Men          2
86          11663                           Sicko          2
117          2583                     Koroshiya 1          2
173         39249                Ocean's Thirteen          1
157         35762               Miss Congeniality          1
123         35115         Lara Croft: Tomb Raider          1
201         34433                            Thor          1
122         33093               The Mask of Zorro          1
120         29619                  Wild Wild West          1
3           22843                  The Karate Kid          1
129         20617                Sex and the City          1
74          17578                  Iron Man Three          1
54          13230           Babe: Pig in the City          1
64          10174         The Talented Mr. Ripley          1
51           7675           The Hangover Part III          1
137          3995                         RoboCop          1
88           2416                    The Babadook          1
46           2273                Mickey Blue Eyes          1
39          10119                         Saw III          0
35           8418                     Coyote Ugly          0
45           7997          Not Another Teen Movie          0
47           7858              Jackass Number Two          0
52           6844           Paranormal Activity 2          0
32           6335                         Don Jon          0
49           5438           40 Days and 40 Nights          0
53           4351                       Wimbledon          0
50           3479        The Manchurian Candidate          0
40           2687                          Frozen          0
23             42         Piled Higher and Deeper          0

[50 rows x 3 columns]